<section class="page">
    <p>Test template</p>

    <table>
        <tr>
            <th> Bla </th>
            <th> Test </th>
            <th> Eigenschaft </th>
        </tr>
        <tr>
            <td> blubb </td>
            <td> Frage </td>
            <td> Liebe </td>
        </tr>
        <tr>
            <td> Lorem </td>
            <td> Quiz </td>
            <td> Mut </td>
        </tr>
        <tr>
            <td> Ypsum </td>
            <td> Ratespiel </td>
            <td> Klugheit </td>
        </tr>
    </table>

    <p>{value:text}</p>
    <p>{value:int}</p>

    {value:simpleComponent}
</section>